@media (min-width: 350px) and (max-width: 1440px) {
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1440px;
    padding:0 30;
   margin:0 auto;
}
.header{
	padding-top:20px;
	align-items: center;
	margin-bottom:30px;
    justify-content: space-around;
    display: flex;
}
.header_nav{
    width:100%;
	display:flex;
	justify-content: space-between;
    margin-left: 110px;
}
.nav_list{
	display: flex;
	column-gap:28px;
    list-style-type: none;
}
.nav_link{
	font-weight: 500;
	color:black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
}
.btn1{
    border: 0.5px solid #000000;
    border-radius: 19px;
    width: 129px;
    height: 32px;
    font-size: 25px;
    box-sizing: border-box;
    margin-top: 17px;
    margin-left: 80px;
}
.btn1text{
    margin-left: 37px;
    
}
a { text-decoration: none; color: black;
}
.secone{
    background-image: url(sec1.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% ;
    width: 1440px;
    height: 680px;
    position:inherit;
    float:inherit;
    /* filter: brightness(65%); */

    color: white;
    position: absolute;
   
    font-weight: lighter;
    text-align: center;
    vertical-align: middle;
    padding:0px;

    font-weight: 300;
}
.krv{
    position: absolute;
width: 1440px;
height: 680px;


background: rgba(0, 0, 0, 0.5);
}
.textR{
    margin-top: 140px;
    font-size: 80px;
    width: 1060px;
    margin-left: 211px;
}
.textY{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.btn2text{
    width: 450px;
    height: 84px;
    background: #FFFFFF;
    border-radius: 63px;

color: #000000;

font-size: 40px;
}
.ores{
    position: absolute;
    width: 909px;
    height: 95px;
    margin-left: 265px;
    margin-top: 750px;

    font-weight: 300;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
}
.textn{
    position: absolute;
    width: 770px;
    height: 296px;
    margin-left: 110px;
    margin-top: 830px;
    /* text-align: justify; */
    font-weight: 300;
    font-size: 37px;
    line-height: 43px;
}
.img1{
    position: absolute;
    width: 459px;
    height: 405px;
    margin-left: 903px;
    margin-top: 805px;

}
.textm{
    position: absolute;
    width: 909px;
    height: 95px;
    margin-left: 265px;
    margin-top: 1300px;

    font-weight: 300;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
}
.soup{
    margin-top: 1400px;
    width:160px;
    height: 160px;
    margin-left: 100px;
}
.s{
    width: 98px;
    height: 47px;
    margin-left: 120px;
    font-size: 40px;
}
.hot{
    margin-top: 80px;
    width: 160px;
    height: 160px;
    margin-left: 160px;
}
.salat{
    width: 160px;
    height: 160px;
    margin-left: 160px;
}
.desert{
    width: 160px;
    height: 160px;
    margin-left: 160px;
}
.g{
    margin-top: -80px;
    width: 100px;
    height: 47px;
    margin-left: 420px;
    font-size: 40px;
}
.c{
    margin-top: -90px;
    width: 100px;
    height: 47px;
    margin-left: 760px;
    font-size: 40px;
}
.d{
    margin-top: -80px;
    width: 100px;
    height: 47px;
    margin-left: 1080px;
    font-size: 40px;
}
.btn3{
    position: absolute;
    width: 226px;
    height: 35px;
    margin-left: 556px;
    margin-top: 50px;
    color: white;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    background: #808080;
    width: 350px;
    height: 84px;
    border-radius: 63px;
}
.btn4{
    position: absolute;
    width: 226px;
    height: 35px;
    margin-left: 556px;
    margin-top: -30px;
    color: white;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    background: #808080;
    width: 350px;
    height: 84px;
    border-radius: 63px;
}
.otzv{
    position: absolute;
    width: 909px;
    height: 95px;
    margin-left: 277px;
    margin-top: 220px;
    font-weight: 300;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
}
.pol{
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 109px;
    margin-top: 330px;

}
.zagotzv{
    position: absolute;
    width: 772px;
    height: 235px;
    margin-left: 540px;
    margin-top: -290px;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    text-decoration-line: underline;
}
.ram{
    border: 9px solid #000000;
    width: 800px;
    height: 270px;
    border-radius: 54px;
    margin-left: 500px;
    margin-top: 375px;
}
.textotzv{
    position: absolute;
    width: 772px;
    height: 235px;
    margin-left: 540px;
    margin-top: -260px;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    
}
.stars{
    position: absolute;
    width: 285px;
    height: 5;
    margin-left: 300px;
    margin-top: -311px;
}
.kontakt{
    position: absolute;
    width: 909px;
    height: 95px;
    margin-left: 285px;
    font-weight: 300;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
}
.work{
    position: absolute;
    width: 398px;
    height: 59px;
    margin-left: 83px;
    margin-top: 150px;
    font-weight: 300;
    font-size: 30px;
    line-height: 59px;
    text-align: center;
    text-decoration-line: underline;
}
.adres{
    position: absolute;
    width: 160px;
    height: 59px;
    margin-left: 500px;
    margin-top: 150px;
    font-weight: 300;
    font-size: 30px;
    line-height: 59px;
    text-align: center;
    text-decoration-line: underline;
}
.worktime{
    position: absolute;
    width: 483px;
    height: 282px;
    margin-left: 180px;
    margin-top: 200px;
    font-weight: 300;
    font-size: 25px;
    line-height: 47px;
}
.mesto{
    position: absolute;
    width: 342px;
    height: 188px;
    margin-left: 530px;
    margin-top: 202px;
    font-weight: 300;
    font-size: 25px;
    line-height: 47px;
}
.phone{
    position: absolute;
    width: 398px;
    height: 59px;
    margin-left: 400px;
    margin-top: 290px;
    font-weight: 300;
    font-size: 30px;
    line-height: 59px;
    text-align: center;
    text-decoration-line: underline;
}
.nomerphone{
    position: absolute;
    width: 398px;
    height: 47px;
    margin-left: 535px;
    margin-top: 340px;
    font-weight: 300;
    font-size: 25px;
    line-height: 47px;
}
.karta{
    margin-left: 950px;
    margin-top: 170px;
}

/* Подвал */
.footer_inn{
	margin-top:100px;
	display:flex;
	justify-content:space-between;
	padding-bottom:50px;
}
.privacy_p {
	font-size: 23px;
	line-height: 14px;
	color: #111419;
	font-weight: 400;
}
.contacts{
	display:flex;
	column-gap:30px;
    width: 55px;
    height: 55px;
    margin-right: 300px;
}
.politics_a {
	font-size: 23px;
	line-height: 14px;
	text-decoration: underline;
	color: #111419;
	font-weight: 400;
}

.topbutton {
    width:35px;
    border:2px solid rgba(204, 204, 204, 0.266);
    background:#f7f7f752;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    right:50px;
    cursor:pointer;
    color:rgb(0, 0, 0);
    font-family:verdana;
    font-size:20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    }